.layout-nav{  
    font-family: Montserrat !important;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    
    
}

.circle{  
    height: 70px;
    width: 70px;
    
    border-radius:50%;
}
.box{
  
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box:hover{
   
    width: 20rem;
    background-color:rgb(255, 242, 242);
    box-shadow: none;
}